{{>jumbotron titulo='Encuentra el anime que buscas' 
descripcion='Encuentra tu anime favorito en la tabla a continuación y actualiza o borra su información. También puedes agregar un anime nuevo desde el menú de navegación o buscar por nombre para obtener más información.'}}

<div class="container pt-4 border-top">
    <h3 class="text-center">Lista de Animes</h3>
    {{>table animes=animes}}
</div>